# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Application Data
data/*.json
snapshots/*.json
uploads/*
!uploads/.gitkeep
!data/.gitkeep
!snapshots/.gitkeep
